{%- set moduleCSS = "/_includes/module.css" -%}
{% css page, moduleCSS %}
{%- set promoCSS = "/_includes/layouts/icon-promo/style.css" -%}
{% css page, promoCSS %}

<div class="{% className moduleCSS, 'root' %} {% className promoCSS, 'root' %}">
Hello
</div>
